[Unit]
Description=Export SLURM job and partition metrics to Prometheus
After=network.target auditd.service sssd.service

[Service]
EnvironmentFile=-/etc/default/prometheus-slurm-exporter
ExecStart=/usr/sbin/prometheus-slurm-exporter $OPTIONS
Restart=on-failure
User=prometheus
Group=prometheus

[Install]
WantedBy=multi-user.target

